/.gradle/
/target/
/logs/
/data/*
!/data/BOT.json
!/data/jikai.png
/notes
/pom.xml.versionsBackup
/src/*.ttf
/src/com/github/xerragnaroek/jikai/core/Secrets.java
/src/com/github/xerragnaroek/jikai/test
!/data/locales/
*.idea