<configuration>

	<property name="HOME_LOG" value="logs/app.log" />

	<appender name="FILE-ROLLING"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${HOME_LOG}</file>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>logs/archived/app_%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<!-- each archived file, size max 10MB -->
			<maxFileSize>10MB</maxFileSize>
			<!-- total size of all archive files, if total size > 20GB, it will delete 
				old archived file -->
			<totalSizeCap>20GB</totalSizeCap>
			<!-- 60 days to keep -->
			<maxHistory>60</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>[%d{dd-M-yy HH:mm:ss.SSS}] [%-5level] [%logger{15}] [%X{id}] [%t] %m%n</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT_INFO"
		class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<encoder>
			<pattern>[%d{dd-M-yy HH:mm:ss.SSS}] [%-5level] [%logger{10}] [%X{id}] [%t] %m%n</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%d{dd-M-yy HH:mm:ss.SSS}] [%-5level] [%logger{10}] [%X{id}] [%t] %m%n</pattern>
		</encoder>
	</appender>
	
	<logger name="net.dv8tion.jda.internal.requests.RateLimiter" additivity="false" level="DEBUG">
		<appender-ref ref="FILE-ROLLING" />
		<appender-ref ref="STDOUT" />
	</logger>
	
	<logger name="com.xerragnaroek" additivity="false" level="DEBUG">
		<appender-ref ref="FILE-ROLLING" />
		<appender-ref ref="STDOUT" />
	</logger>
	
	<root level="DEBUG">
		<appender-ref ref="FILE-ROLLING" />
		<appender-ref ref="STDOUT" />
	</root>

</configuration>